@import "../../vars";

.wheel-item {
  @include flexCentered;
  background-color: white;
  border-radius: 100%;
  width: 8vw;
  height: 8vw;
  position: absolute;
  overflow: hidden;
  box-shadow: 0 0 10px transparentize($iconColor, .7);
  transition: background-color 300ms ease-out;
  &:hover {
    cursor: pointer;
    background-color: $bgGrey;
    .container {
      .name {
        height: 18px;
      }
    }
  }
  .container {
    @include flexCentered;
    flex-direction: column;
    animation: spin $spinTime linear infinite reverse;
    width: 100%;
    height: 100%;
    .icon {
      width: 50%;
      height: 50%;
      color: $iconColor;
    }
    .name {
      display: block;
      font-size: .9em;
      overflow: hidden;
      height: 0;
      transition: height 300ms;
    }
  }
}

@media only screen and (max-width: 575px) {
  .wheel-item {
    width: 8vh;
    height: 8vh;
  }
}