@import "../../vars";

$desktopSize: 40vw;
$mobileSize: 45vh;

.wheel-tools {
  position: relative;
  border: 1px solid rgb(221, 221, 221);
  width: $desktopSize;
  height: $desktopSize;
  border-radius: 100%;
  @include flexCentered;
  animation: spin $spinTime linear infinite;
}

@media only screen and (max-width: 575px) {
  .wheel-tools {
    width: $mobileSize;
    height: $mobileSize;
  }
}