@import "../../vars";

.resume-doc {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px darken($itemBg, 20% );
  span {
    transform: none !important
  }
}

@media only screen and (max-width: 575px) {
  .resume-doc {
    align-self: flex-start;
    margin-top: 20px;
    transform: scale(0.9);
    & > *:first-child {
      width: 100% !important;
      height: 100% !important;
      & > *:first-child {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}