@import "../../../vars";

$repoLinkColor: transparentize(
  $color: darken($color: $iconColor, $amount: 10%),
  $amount: .2
);

$exitButtonColor: rgb(103, 103, 103);

.project-back {
  @include projectFace;
  background-color: rgba(80, 80, 80, .5);
  color: white;
  font-size: 1.3em;
  box-sizing: border-box;
  padding-left: 10%;
  .head {
    font-weight: normal;
    align-self: flex-start;
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 20px;
    svg {
      margin-right: 10px;
    }
  }
  .summary {
    max-width: 85%;
    align-self: flex-start;
    text-indent: 3rem;
    line-height: 2em;
  }
  .repo-link {
    text-decoration: none;
    color: white;
    background-color: $repoLinkColor;
    padding: 10px;
    align-self: flex-end;
    margin-right: 10%;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: darken($color: $repoLinkColor, $amount: 20%);
    }
    svg {
      margin-left: 5px;
    }
  }
  .project-summary-exit {
    @include flipFaceButton($exitButtonColor, lightgrey);
    opacity: .8;
  }
}

@media only screen and (max-width: 575px) {
  .project-back {
    display: block;
    padding-top: 50px;
    padding-left: 8%;
    .head {
      font-size: 1.5em;
      padding-bottom: 5px;
    }
    .summary {
      max-width: 90%;
      text-align: justify;
      text-indent: 2rem;
      font-size: 1.1rem;
      line-height: 1.2em;

    }
    .repo-link {
      float: right;
    }
  }
}

@media only screen and (max-width: 380px) {
  .project-back {
    padding-top: 25px;
    .summary {
      font-size: 1.05rem;
    }
    .repo-link {
      float: right;
    }
  }
}

@media only screen and (max-width: 325px) {
  .project-back {
    position: relative;
    padding-top: 15px;
    .head {
      font-size: 1.2em;
      margin-bottom: -10px;
    }
    .summary {
      font-size: 1rem;
    }
    .repo-link {
      font-size: 1rem;
      float: unset;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      padding: 3px;
    }
    .project-summary-exit {
      width: 65px;
      height: 65px;
    }
  }
}