@import "../../vars";

.project-pagination {
  position: absolute;
  top: 83.5%;
  opacity: .7;
  .pagination-item {
    position: relative;
    margin: 0 5px;
    display: inline-block;
    width: 5vw;
    height: 3px;
    background-color: rgb(181, 181, 181);
    border-radius: 50px;
    box-shadow: 0 2px 4px rgb(144, 144, 144);
    transition: 
      box-shadow 300ms,
      transform 300ms;
    &[current-project=true] {
      height: 4px;
      background-color: $iconColor;
      transform: translateY(-3px);
      box-shadow: 0 4px 4px rgb(144, 144, 144);
    }
    &:hover {
      cursor: pointer;
      height: 4px;
      transform: translateY(-3px);
      box-shadow: 0 4px 4px rgb(144, 144, 144);
    }
    &::after {
      content: '';
      position: absolute;
      top: -300%;
      height: 700%;
      width: 100%;
      left: 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .project-pagination {
    top: 82.5%;
    .pagination-item {
      width: 9vw;
    }
  }
}