@import "../../vars";

.project-item {
  @include flexCentered;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px rgba(71, 71, 71, 0.3);
  backface-visibility: hidden;
  background-color: rgba(100, 100, 100, .1);
  border-radius: 5px;
  .header {
    display: flex;
    align-items: stretch;
    flex: 1;
    width: 100%;
    .image-wraper {
      @include flexCentered;
      position: relative;
      height: 100%;
      width: 20%;
      margin-right: 20px;
      .image {
        position: absolute;
        width: 70%;
        height: auto;
        border-radius: 18%;
        overflow: hidden;
        box-shadow: 0 0 10px rgba($color: grey, $alpha: .3);
      }
    }
    .info {
      display: block;
      align-self: center;
      .title {
        margin-top: 0;
      }
      .open-link {
        text-decoration: none;
        background-color: $iconColor;
        padding: 3px 10px;
        border-radius: 50px;
        color: white;
        &:hover {
          background-color: darken($color: $iconColor, $amount: 20%);
          text-shadow: 0 0 3px white;
          svg {
            width: 15px;
          }
        }
        svg {
          width: 0px;
          transition: width 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
          overflow: hidden;
        }
      }
    }
  }
  .hr {
    border: 0;
    margin: 8px 0;
    height: .8px;
    width: 90%;
    z-index: 10;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .details {
    display: flex;
    flex: 2;
    width: 100%;
    h3 {
      font-weight: normal;
    }
    .info-tools {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .vhr {
      border: 0;
      margin: 0 8px;
      width: .8px;
      height: 80%;
      align-self: center;
      z-index: 10;
      opacity: .7;
      background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    .info-screenshots {
      box-sizing: border-box;
      flex: 1.5;
      display: flex;
      align-items: center;
      flex-direction: column;
      .screenshots-container {
        position: relative;
        flex: 1;
        width: 75%; // TODO: adapt to mobile
      }
    }
  }
}