@import "../../../vars";

$deviceTogglerBg: rgb(189, 189, 189);
$lateralArrowsOffset: 20px;

.screenshots-slider {
  $containerWidth: 70%;
  position: relative;
  flex: 1;
  width: 100%;
  .screenshots-container-wraper {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    .screenshots-container {
      position: relative;
      width: $containerWidth;
      margin: 0 auto;
      transition: transform 450ms cubic-bezier(0.215, 0.610, 0.355, 1);
      &[is-mobile=true] {
        transform: scaleX(0.31641);
        .screenshot-item-wraper {
          .arrows {
            svg {
              transform: scale(3, 1.2);
            }
          }
        }
      }
      &[is-fullscreen=true] {
        width: $containerWidth * 1.05;
      }
      .screenshot-item-wraper {
        @include flexCentered;
        box-shadow: 0 0 8px rgba(128, 128, 128, 0.4);
        border-radius: 5px;
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 56.25%;
        margin: 0 auto;
        overflow: hidden;
        .screenshot-item {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
        .arrows {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          z-index: 1;
          display: flex;
          align-items: stretch;
          svg {
            width: 15px;
            height: auto;
            transform: scaleY(1.4);
            opacity: .4;
            color: rgb(171, 171, 171);
            text-shadow: 5px 5px 4px rgba(100, 100, 100, .5);
            filter: drop-shadow(0 0 2px rgb(62, 62, 62))
          }
          .left-arrow {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            svg {
              position: absolute;
              left: $lateralArrowsOffset;
            }
          }
          .zoom-in {
            flex: 1;
            &[is-zoomed=false] {
              cursor: zoom-in;          
            }
            &[is-zoomed=true] {
              cursor: zoom-out;          
            }
          }
          .right-arrow {
            position: relative;
            flex: 1;
            display: flex;
            align-items: center;
            svg {
              position: absolute;
              right: $lateralArrowsOffset;
            }
          }
          .left-arrow:hover, .right-arrow:hover {
            cursor: pointer;
            svg {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .device-toggler {
    position: relative;
    margin: 0 auto;
    width: 85px;
    height: 22px;
    background-color: $deviceTogglerBg;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .device-icons {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 10;
      .device-icon {
        @include flexCentered;
        flex: 1;
        &[toggled=true] {
          filter: drop-shadow(0 0 1px white);
        }
        &:not([toggled=true]):hover {
          filter: drop-shadow(0 0 1px white);
        }
        &:hover {
          cursor: pointer;
        }
      }
      .device-selected {
        position: absolute;
        top: 0;
        left: 0%;
        width: 50%;
        height: 100%;
        background-color: transparentize($color: $iconColor, $amount: .2);
        border-radius: 10px;
        z-index: -1;
        transition: left 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
        &[mobile=true] {
          left: 50%;
        }
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 98%;
      width: 20px;
      height: 75%;
      background-color: $deviceTogglerBg;
      clip-path: polygon(0 0, 35% 15%, 57% 28%, 72% 43%, 85% 65%, 100% 100%, 100% 0);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 98%;
      width: 20px;
      height: 75%;
      background-color: $deviceTogglerBg;
      clip-path: polygon(100% 0, 65% 15%, 43% 28%, 28% 43%, 15% 65%, 0 100%, 0 0);
    }
  }  
}