@import "../../../../vars";

.tools-info {
  @include flexCentered;
  flex-direction: column;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  .name {
    @include flexCentered;
    height: 40%;
    font-weight: normal;
    margin: 0;
  }
  .description   {
    height: 60%;
    width: 80%;
    font-weight: normal;
  }
  &:hover {
    cursor: pointer;
  }
}