@import "../../../../vars";

.go-back {
  @include flexCentered;
  width: 100%;
  height: 100%;
  &:hover {
    cursor: pointer;
    background-color: $itemHover;
  }
  .icon {
    width: 50%;
    height: 50%;
    color: $iconColor;
  }
}