$spinTime: 50s;
$iconColor: rgb(98, 98, 98);
$bgGrey: rgb(221, 221, 221);

@mixin flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}