$spinTime: 50s;
$iconColor: rgb(129, 194, 212);
$itemHover: rgb(221, 221, 221);
$itemBg: rgb(250, 250, 250);

@mixin flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boxShadow($inset: null) {
  box-shadow: $inset 0 0 1px 1px lighten($color: $iconColor, $amount: 10%);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}